/* Resete todas as margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;

  }
  
  /* Resete o estilo da fonte para o valor padrão */
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  /* Remova a decoração do link */
  a {
    text-decoration: none;
  }
  
  /* Resete a lista de estilos */
  ul, ol {
    list-style: none;
  }
  
  /* Defina a largura máxima do conteúdo da página */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
